<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.example.feature_auth.ui.presentation.pinVerified.VerifiedPinActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name="com.example.feature_auth.ui.presentation.pinSetUp.SetUpPinActivity"
            android:exported="false"
            android:launchMode="singleTask" />

    </application>



</manifest>